# Django
db.sqlite3
__pycache__/
*.pyc

# Python
venv/
env/
.env
*.pkl
*.log

# Large/Temporary Files
face_data.pkl
test_out.txt
media/
*.txt.txt
commit_history.txt
generate_commits.py

# IDE
.vscode/
.idea/
.DS_Store

# Rebuilder
history_rebuilder.ps1
.backup_project/

# Local scripts
rebuild_history.ps1
_project_backup_temp/

# Local scripts
rebuild_history_final.ps1
_project_backup_temp_final/

rebuild_40_random.ps1
_project_backup_40_random/
